<div class="row">
    <centre>
        <div class="col-md-6">
            {{#each burgers}}
            {{#unless devoured}}
            <form action="burger/devour/{{id}}" method="POST">
                <div class="input-group">
                    <li class="form-control">{{id}}. {{burger_name}}</li>
                    <span class="input-group-btn">
                        <button class="btn btn-success devour-button" type="submit">Devour it!</button>
                    </span>
                </div>
            </form>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6">
            <h4 class="sumbitFont">Burgers Devoured</h4>
            {{#each burgers}}
            {{#if devoured}}
            <div class="input-group">
                <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </centre>
</div>